@charset "UTF-8";

/* ============================================================
  SWAT V3
============================================================ */
html{  overflow:auto !important;}
body{ min-width: 1280px; overflow:auto !important;  }


/* Header */
body.layout > .layout-panel-north { overflow: visible; /*z-index: 10000*/}
body.layout .swat-header{ height: 91px; text-align: center; overflow: initial; }
.swat-header .gnb-warp{ display: inline-block; height: 60px; overflow: hidden; min-width: 927px; position: relative; }
.swat-header .gnb-warp .logo{ display: inline-block; height: 60px; position: absolute; left:0; top:0;} 
.swat-header .gnb-warp .logo .btn-logo{display: inline-block; overflow: hidden; text-indent: -5000px; font-size: 0; width: 90px; height: 60px; background: url(../image/common/logo.png) no-repeat 50% 50%; }
.swat-header .gnb-warp .gnb{ display: inline-block; margin-left: 120px; height: 60px; }
.swat-header .gnb-warp .gnb li{ float: left;  }
.swat-header .gnb-warp .gnb li a{ font-size: 17px; color: #fff; display: inline-block; height: 60px; line-height: 59px; letter-spacing: -0.4px;  padding: 0 30px; position: relative;  font-weight: 500;}

.swat-header .gnb-warp .icon-arrow{width: 0px;height: 0px;  border-top:50px solid none; border-bottom:10px solid #ffffff; border-right: 9px solid transparent; border-left: 9px solid  transparent; position: absolute; bottom:-10px; left: 0;  z-index: 2;   }

.swat-header .gnb-sub{ position: fixed; top:60px; left: 0; width: 100%; border-bottom: 1px solid #117cca; -webkit-box-shadow: 0 2px 3px #c4c4c4; box-shadow: 0 2px 3px #c4c4c4; background: #fff; z-index: 999999; padding: 0 0 20px 0; display: none; max-height: -webkit-calc(100% - 80px); max-height: calc(100% - 80px); overflow-x: hidden; overflow-y: auto; }
.swat-header .gnb-sub .sub-d1{ display:none; }
/*.swat-header .gnb-sub .sub-d1.nav3{ display:block !important; }*/
.swat-header .gnb-sub .sub-d1:after {content:" "; display:block; height:0; clear:both; visibility:hidden;}
.swat-header .gnb-sub .sub-d1 > li{ float: left; border-right: 1px solid #EDEDED; padding: 0 5px; margin-top: 30px;  -webkit-transition: all 0s;  -o-transition: all 0s;  transition: all 0s; width: 180px;}

.swat-header .gnb-sub .sub-d1:nth-child(1) > li{width:175px;}	/* 자원관리 */
.swat-header .gnb-sub .sub-d1:nth-child(2) > li{width:195px;}	/* 구성관리 */
.swat-header .gnb-sub .sub-d1:nth-child(3) > li{width:205px;}	/* 서비스 */
.swat-header .gnb-sub .sub-d1:nth-child(4) > li{width:195px;}	/* IVR관리 */
.swat-header .gnb-sub .sub-d1:nth-child(5) > li{width:220px;}	/* 모니터링 */
.swat-header .gnb-sub .sub-d1:nth-child(6) > li{width:230px;}	/* 통계 */
.swat-header .gnb-sub .sub-d1:nth-child(7) > li{width:215px;}	/* 장애관리 */
.swat-header .gnb-sub .sub-d1:nth-child(8) > li{width:170px;}	/* 추가기능 */
 
.swat-header .gnb-sub .sub-d1 > li > span{ color: #0173c7; font-size: 15px; display: block; cursor: default; padding-bottom: 15px; font-weight: 500;}
.swat-header .gnb-sub .sub-d2 > li{ text-align: left; padding: 1px 0; position: relative;}
.swat-header .gnb-sub .sub-d2 > li > a{ color: #555555; display: block; padding: 5px 0px 6px 10px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; position: relative; letter-spacing: -0.4px;}
.swat-header .gnb-sub .sub-d2 > li:hover > a{ color: #0679ce; background: #f5f3f3; border-radius: 6px; }
/*.swat-header .link-pop{ display:block; width:64px; height: 32px; border: 1px solid #FCFCFC; border-radius: 3px; position: absolute; background: #fff; top:-4px; right:-80px; z-index: 3; -webkit-box-shadow: 1px 1px 3px #bdbdbd; box-shadow: 1px 1px 3px #bdbdbd; opacity: 0;}
.swat-header .link-pop:after{ content: ''; background: url(../image/common/icon_popArrow.png) no-repeat 0 0; width: 10px; height: 21px; position: absolute; z-index: 2; left:-10px; top:7px;}
.swat-header .link-pop a[class^='btn-']{ font-size:0; overflow: hidden; text-indent: -5000px; display: inline-block; width: 17px; height: 16px; position: absolute;}
.swat-header .link-pop .btn-favor{ background: url(../image/common/icon_popFavor.png) no-repeat 0 0; left: 38px; top:8px; }
.swat-header .link-pop .btn-favor.on{ background-position: 0 -16px;}
.swat-header .link-pop .btn-window{ background: url(../image/common/icon_popWindow.png) no-repeat 50%; left: 11px; top:9px;}*/
.swat-header .link-pop{ display:block; width:46px; height: 24px; position: absolute; top:1px; right:0px; z-index: 3; opacity: 0;}
.swat-header .link-pop a[class^='btn-']{ font-size:0; overflow: hidden; text-indent: -5000px; display: inline-block; width: 17px; height: 16px; position: absolute;}
.swat-header .link-pop .btn-favor{ background: url(../image/common/icon_popFavor.png) no-repeat 0 0; left: 23px; top:4px; }
.swat-header .link-pop .btn-favor.on{ background-position: 0 -16px;}
.swat-header .link-pop .btn-window{ background: url(../image/common/icon_popWindow.png) no-repeat 50%; left: 2px; top:4px;}

.swat-header .util-menu{ position: absolute; right:30px; top:17px;  z-index: 5;}
.swat-header .util-menu > li{ float: left; margin-left: 12px; position: relative;}
/*.swat-header .util-menu > li{ position: absolute;}*/
.swat-header .util-menu > li > a.btn-util{ display: inline-block; width: 26px; height: 26px; background: none;  font-size: 0; text-indent: -5000px; border-radius: 50%; cursor: pointer; position: relative; border:1px solid #fff; opacity: 0.6; -webkit-transition: all 0.7s ease; -o-transition: all 0.7s ease; transition: all 0.7s ease; overflow: hidden;}
.swat-header .util-menu > li > a.btn-util.alim{  background-color: transparent; opacity: 0.8; position:relative; }
.swat-header .util-menu > li > a.btn-util.alim:after{ content: ''; width: 20px; height: 20px; background: url(../image/common/icon_utilAlim.png) no-repeat 50% 50%; display:inline-block; position: absolute; top:3px; left:3px; transform-origin: center center;}
.swat-header .util-menu > li > .alim-num{width: 15px;height: 15px;background: #ff0101;border-radius: 50%;position: absolute;top: -3px;right:0;color: #ffffff;font-size: 10px;font-weight: 400;line-height: 14px;text-align: center;display: none;}
.swat-header .util-menu > li > a.btn-util.alim:hover, .swat-header .util-menu > li > a.btn-util.alim.on{opacity:1;  border: 1px solid #22b9ff;  background-color:#22b9ff;  }
.swat-header .util-menu > li > a.btn-util.favor{ background: url(../image/common/icon_utilFavor.png) no-repeat 50% 50%;  opacity: 0.8}
.swat-header .util-menu > li > a.btn-util.favor:hover, .swat-header .util-menu > li > a.btn-util.favor.on{opacity:1;  border: 1px solid #22b9ff;  background-color:#22b9ff; }

.swat-header .util-menu > li > a.btn-util.alim.active + .alim-num{ display:block;  }
.swat-header .util-menu > li > a.btn-util.alim.active:after{-webkit-animation:alimMove 2s ease-out infinite;animation:alimMove 0.7s ease-out infinite; }
.swat-header .util-menu > li > a.btn-util.alim.flicker{ background:#29e9be; border:1px solid #29e9be; -webkit-animation:alimflicker 2s ease-out infinite;animation:alimflicker 0.7s ease-out infinite;} 
.swat-header .util-menu > li > a.btn-util.alim.flicker:after{-webkit-animation:alimMove2 2s ease-out infinite;animation:alimMove2 0.7s ease-out infinite; }

/*.swat-header .util-menu > li > a.btn-util.favor.active{ background: #f7ca2e url(../image/common/icon_utilFavor.png) no-repeat 50% 50%;border: 1px solid #f7ca2e; opacity: 1;}*/
/*.swat-header .util-menu > li > a.btn-util.alim.active{ background: #22b9ff url(../image/common/icon_utilAlim.png) no-repeat 50% 50%; border: 1px solid #22b9ff; opacity: 1; -webkit-animation:alimBlank .7s linear infinite;animation:alimBlank .7s linear infinite}*/
@-webkit-keyframes alimMove {
	0%{-webkit-transform: rotate(20deg); opacity:0.2;}
	50%{-webkit-transform: rotate(-20deg); opacity:1;}
	100%{-webkit-transform: rotate(20deg); opacity:0.2;}	
}
@keyframes alimMove {
	0%{-webkit-transform: rotate(15deg); opacity:0.2;}
	50%{-webkit-transform: rotate(-15deg); opacity:1;}
	100%{-webkit-transform: rotate(15deg); opacity:0.2;}	
}
@-webkit-keyframes alimflicker {
	0%{opacity:1;}
	50%{opacity:0.5;}
	100%{opacity:1;}	
}
@keyframes alimflicker {
	0%{opacity:1;}
	50%{opacity:0.5;}
	100%{opacity:1;}	
}
@-webkit-keyframes alimMove2 {
	0%{-webkit-transform: rotate(20deg); opacity:1;}
	50%{-webkit-transform: rotate(-20deg); opacity:1;}
	100%{-webkit-transform: rotate(20deg); opacity:1;}	
}
@keyframes alimMove2 {
	0%{transform: rotate(20deg); opacity:1;}
	50%{transform: rotate(-20deg); opacity:1;}
	100%{transform: rotate(20deg); opacity:1;}	
}



/*
@-webkit-keyframes alimBlank {
0%{opacity:0.4}
50%{opacity:1}
100%{opacity:0.4}
}
@keyframes alimBlank {
0%{opacity:0.4}
50%{opacity:1}
100%{opacity:0.4}
}
*/


.swat-header .util-menu > li > a.btn-util.profile{background-color:#22b9ff; opacity: 1;  border: 1px solid #22b9ff; }
.swat-header .util-menu > li > a.btn-util.profile:after{ content:''; background: url(../image/common/icon_popProfile.png) no-repeat; width: 21px; height: 18px; position: absolute; left:3px; top:4px; opacity: 0.5; -webkit-transition: all 0.7s ease; -o-transition: all 0.7s ease; transition: all 0.7s ease; }
.swat-header .util-menu > li > a.btn-util.profile:hover:after, .swat-header .util-menu > li > a.btn-util.profile.on:after{ opacity:1; }
.swat-header .util-menu > li > a.btn-util.sitemap{ opacity: 1;  border: 1px solid #f4da70; background:#f4da70 url(../image/common/icon_popSitemap.png) no-repeat 50% 50%;}
.swat-header .util-menu > li > a.btn-util.sitemap:hover{ background-color:#F3BC1A; border:1px solid #F3BC1A; }

/*.swat-header .util-menu > li > a.btn-util.sitemap{  background:url(../image/common/icon_popSitemap.png) no-repeat 50% 50%;}
.swat-header .util-menu > li > a.btn-util.profile{background: url(../image/common/icon_popProfile.png) no-repeat 50% 50%;}
.swat-header .util-menu > li > a.btn-util.profile:hover, .swat-header .util-menu > li > a.btn-util.profile.on, .swat-header .util-menu > li > a.btn-util.sitemap:hover{opacity:1;  border: 1px solid #22b9ff;  background-color:#22b9ff; }
*/


.bg-gnb{ height: 91px; background:#0173c7 url(../image/common/bg_gnb.png) no-repeat 90% 0; text-align: center; overflow: initial; }

div[class^=util-pop]{  background: #fff; border-radius: 8px;  position: absolute; -webkit-box-shadow: 0 2px 3px #d3d3d3; box-shadow: 0 2px 3px #d3d3d3; top: 39px; right:-39px; display: none; opacity: 0; -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;}
div[class^=util-pop]:after{ content: ''; width:29px; height: 9px; background: url(../image/common/icon_utilPopArrow.png) no-repeat 0 0; position: absolute; z-index: 2; top:-8px; right:39px;}
div[class^=util-pop] .info-b{background: #ffffff; border-top:1px solid #F4F4F4; background: -webkit-linear-gradient(top, #fafafb 0%,#ffffff 40%); background: -webkit-gradient(linear, left top, left bottom, from(#fafafb),color-stop(40%, #ffffff)); background: -o-linear-gradient(top, #fafafb 0%,#ffffff 40%); background: linear-gradient(to bottom, #fafafb 0%,#ffffff 40%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafb', endColorstr='#ffffff',GradientType=0 ); }

.util-pop-alim{width:435px; }
.util-pop-alim .info-t{height: 95px; text-align: center; position: relative;}
.util-pop-alim .info-t .news-t{ }
.util-pop-alim .info-t .favor-titT{ color: #1b1c1e; font-size: 20px;  padding: 18px 0 5px 0; font-weight: 500;  }
.util-pop-alim .info-t .ticket-t .favor-titT{ padding-top:25px;}
.util-pop-alim .info-t .favor-titB{ color: #74747a; font-size: 14px; }
.util-pop-alim .info-t .btn-more{ display: inline-block; height: 20px; padding: 0 11px 0 10px;  position: absolute; right:15px; top:70px; line-height: 20px; color: #999999; z-index: 3; }
.util-pop-alim .info-t .btn-more:after{ content:''; display:inline-block; width:4px; height: 8px; background: url(../image/common/icon_more.png) no-repeat 0 0; position: absolute; right:0; top:7px;}
.util-pop-alim .info-t .btn-more:hover{ color: #1cbcd9; }
.util-pop-alim .info-t .btn-more:hover:after{ background-position:0 -8px;}
.util-pop-alim .info-t .ticket-t{ display: none }

.util-pop-alim .info-t .util-tab{ border-bottom: 1px solid #0496d2; position: absolute; bottom:0; left:0; width: 100%; z-index: 2;}
.util-pop-alim .info-t .util-tab ul:after {content:" "; display:block; height:0; clear:both; visibility:hidden;}
.util-pop-alim .info-t .util-tab ul li{ float:left;}
.util-pop-alim .info-t .util-tab ul li a{ display:inline-block; font-size: 13px; color: #b0b0b0; background: #fcfcfc; height: 24px; line-height: 24px; border: 1px solid #c0c0c0; border-bottom: none; border-radius: 3px 3px 0 0; padding:0 12px; }
.util-pop-alim .info-t .util-tab ul li a.on{ background: #00a8ed; color: #ffffff; border:1px solid #0496d2; border-bottom: none; }
.util-pop-alim .info-t .util-tab ul li:first-child{ margin-left:5px; margin-right:1px;}
.util-pop-alim .info-t .util-tab ul li:last-child a{ font-size: 12px; }

.util-pop-alim .info-b{ padding-bottom: 5px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; min-height: 40px; }
.util-pop-alim .info-b .news-box{ text-align: left;}
.util-pop-alim .info-b .news-box .txt_blank, .util-pop-alim .info-b .ticket-box .txt_blank{ height: 50px; display: block; line-height: 60px; color: #BDBDBD; text-align: center;}
.news-box .news-list{ }
.news-box .news-list li, .ticket-box .ticket-list li{ border-bottom:1px solid #f1f2f5; position: relative;}
.news-box .news-list li:last-child, .ticket-box .ticket-list li:last-child{ border-bottom:none;}
.news-box .news-list li:before, .ticket-box .ticket-list li:before{ content: ''; display: inline-block; width:3px; height: 3px; position: absolute; left:13px; top:50%; background: url(../image/common/icon_news.png) no-repeat 0 0;}
.news-box .news-list li span, .ticket-box .ticket-list li span{ font-size: 13px; font-weight: 400;  display: inline-block; vertical-align: middle; line-height: 35px; box-sizing: border-box;}
.news-box .news-list li span[class^='n-'], .ticket-box .ticket-list li span[class^='n-']{overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.news-box .news-list li .n-title{ width:60%; padding-left:23px; text-align: left;   }
.news-box .news-list li .n-writer{width:18%; text-align: center;  }
.news-box .news-list li .n-date{width:22%; text-align: center; padding-right: 7px; }
.news-box .news-list li:hover span, .ticket-box .ticket-list li:hover span{ color:#2975dc;}
.icon-new{ display:inline-block; width: 19px; height: 14px; background: url(../image/common/icon_new.png) no-repeat 0 0; vertical-align:middle; margin-left:5px; position: relative;}

.ticket-box{ display:none; }
.ticket-box .ticket-list li .n-type{ width:52%; padding-left:23px; text-align: left;  }
.ticket-box .ticket-list li .n-request{width:16%; text-align: center;  }
.ticket-box .ticket-list li .n-state{width:16%; text-align: center; padding-right: 7px; }
.ticket-box .ticket-list li .n-state .ico{background:#eea70e;height: 20px;line-height: 18px;font-size:  11px;color:  #ffffff; border-radius:  4px; width: 52px; border: 1px solid #d79b19; }
.ticket-box .ticket-list li .n-state .ico.request{background:#eea70e; border: 1px solid #d79b19; }
.ticket-box .ticket-list li .n-state .ico.complete{background:#3484f0; letter-spacing: -0.5px; border: 1px solid #2d74d4; }
.ticket-box .ticket-list li .n-state .ico.reject{background:#f04534; letter-spacing: -0.5px; border: 1px solid #e33928; }
.ticket-box .ticket-list li .n-state .ico.cancel{background:#a7a7a7; letter-spacing: -0.5px; border: 1px solid #9c9c9c; }
.ticket-box .ticket-list li .n-time{width:16%; text-align: center; padding-right: 7px; }

.util-pop-profile{width:330px; }
.util-pop-profile .info-t{ height: 123px; text-align: left; padding-left: 110px; } 
.util-pop-profile .info-t .profile-photo{ display: inline-block; width: 73px; height: 73px; background: #ececec url(../image/common/bg_userBasic.png) no-repeat 50% 10px; overflow: hidden; border-radius: 50%; position: absolute; top:28px; left:20px;}
.util-pop-profile .info-t .profile-photo.general-user{background: #ececec url(../image/common/bg_userBasic.png) no-repeat 50% 10px; }
.util-pop-profile .info-t .profile-photo.tenant-mg{background: #ececec url(../image/common/bg_userTenant.png) no-repeat 50% 10px; }
.util-pop-profile .info-t .profile-photo.system-mg{background: #ececec url(../image/common/bg_userSystem.png) no-repeat 50% 10px; }
.util-pop-profile .info-t .profile-photo.callcenter-mg{background: #ececec url(../image/common/bg_userCallcenter.png) no-repeat 50% 10px; }
.util-pop-profile .info-t .profile-photo.counseling-leader{background: #ececec url(../image/common/bg_userTeamleader.png) no-repeat 50% 10px; }

.util-pop-profile .info-t .profile-id{ color: #1b1c1e; font-size: 20px; padding: 45px 0 5px 0; font-weight: 500 }
.util-pop-profile .info-t .profile-grant{ color: #80838c; font-size: 14px; padding: 4px 0 5px 0; font-weight: 500 }
.util-pop-profile .info-t .profile-email{ color: #74747a; font-size: 16px; }
.util-pop-profile .info-b{ text-align: left; padding-top: 20px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;  }
.util-pop-profile .info-b ul li{ padding: 12px 0 12px 58px; font-size: 15px; color: #80838c;}
.util-pop-profile .info-b ul li a{font-size: 15px; color: #80838c; }
.util-pop-profile .info-b ul li a:hover{ color:#2975dc; }
.util-pop-profile .info-b ul li:nth-child(1){ background: url(../image/common/icon_utilPopProfile.png) no-repeat 22px 50%;}
.util-pop-profile .info-b ul li:nth-child(2){ background: url(../image/common/icon_utilPopPass.png) no-repeat 22px 40%;}
.util-pop-profile .info-b ul li:nth-child(3){ background: url(../image/common/icon_utilPopTime.png) no-repeat 22px 50%;}
.util-pop-profile .info-b .btn-area{ padding: 20px 25px; }
.util-pop-profile .info-b .btn-area .btn-logout{ display: inline-block; height: 38px; line-height: 37px; padding: 0 30px; border: 1px solid #ebedf2; border-radius: 20px; background: #fff;  font-size: 14px; color: #4bc6ff; -webkit-transition: all 0.7s ease; -o-transition: all 0.7s ease; transition: all 0.7s ease; }
.util-pop-profile .info-b .btn-area .btn-logout:hover{ border:1px solid #4bc6ff; -webkit-box-shadow: 0 0 3px #d1d1d1; box-shadow: 0 0 3px #d1d1d1; }

.util-pop-favor{ width: 330px; }
.util-pop-favor .info-t{height: 85px; text-align: center; }
.util-pop-favor .info-t .favor-titT{ color: #1b1c1e; font-size: 20px; padding: 25px 0 5px 0; font-weight: 500 }
.util-pop-favor .info-t .favor-titB{ color: #74747a; font-size: 14px; }
.util-pop-favor .info-b{ padding-bottom: 15px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }
.util-pop-favor .info-b:after {content:" "; display:block; height:0; clear:both; visibility:hidden;}
.util-pop-favor .info-b .scroll-area{ max-height:336px; min-height: 50px; overflow-x: hidden; overflow-y: auto; }
.util-pop-favor .info-b .scroll-area::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color:#eee}
.util-pop-favor .info-b .scroll-area::-webkit-scrollbar{width:8px;background-color:#eee}
.util-pop-favor .info-b .scroll-area::-webkit-scrollbar-thumb{background-color:#007ac3}
.util-pop-favor .info-b .scroll-area .txt_blank{ height: 50px; display: block; line-height: 60px; color: #BDBDBD;}
.util-pop-favor .info-b .bookmark-list li{ float: left; width: 50%; border-bottom:1px solid #f4f5f8; border-right:1px solid #f4f5f8; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 150px; background: none; opacity: 0; -webkit-transition:opacity 1s ease; -o-transition:opacity 1s ease; transition:opacity 1s ease; position: relative; }
.util-pop-favor .info-b .bookmark-list li.view{ opacity: 1;}
.util-pop-favor .info-b .bookmark-list li > a{ display: block; height: 100%; color: #0064b2; font-size: 14px; font-weight:400; letter-spacing: -0.5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative;}
.util-pop-favor .info-b .bookmark-list li > a .corver{border: 1px solid #fff;  position: absolute; top:0; left:0; width: 100%; height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;-webkit-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease; }
.util-pop-favor .info-b .bookmark-list li > a:hover .corver{border: 3px solid #A8D2F5; }
.util-pop-favor .info-b .bookmark-list li:nth-child(2n){ border-right:none;}
.util-pop-favor .info-b .bookmark-list li > a .icon{ display: inline-block; width: 48px; height: 48px;  margin-top: 36px; background:url(../image/common/icon_etc.png) no-repeat 50% 50%;}
.util-pop-favor .info-b .bookmark-list li > a .txt-tit{ display: block; margin-top: 3px; }

.util-pop-favor .info-b .bookmark-list li .link-bookmark{ display:inline-block; width:50px; height: 26px; z-index: 2;position: absolute; right:0; bottom:0;}
.util-pop-favor .info-b .bookmark-list li .link-bookmark a[class^='btn-']{ font-size:0; overflow: hidden; text-indent: -5000px; display: inline-block; width: 17px; height: 16px; position: absolute;}
.util-pop-favor .info-b .bookmark-list li .link-bookmark .btn-favor{ background: url(../image/common/icon_trash.png) no-repeat 0 0; left: 25px; top:2px; }
.util-pop-favor .info-b .bookmark-list li .link-bookmark .btn-window{ background: url(../image/common/icon_openPop.png) no-repeat 0 0; left: 4px; top:2px;}
.util-pop-favor .info-b .bookmark-list li .link-bookmark a[class^='btn-']:hover{ background-position:0 -16px; }

.util-pop-favor .info-b .bookmark-list.list{}
.util-pop-favor .info-b .bookmark-list.list li{ float: inherit; width: 100%; height: 37px;}
.util-pop-favor .info-b .bookmark-list.list li > a{}
.util-pop-favor .info-b .bookmark-list.list li > a .icon{ width: 22px; height: 20px; background: url(../image/common/icon_favorPlus.png) no-repeat 0 0 !important; position: absolute; left:14px; top:8px; margin-top:0;}
.util-pop-favor .info-b .bookmark-list.list li > a .corver{ opacity:0; }
.util-pop-favor .info-b .bookmark-list.list li > a .txt-tit{display: block;margin-top: 0;text-align:  left;box-sizing:  border-box;width: 270px;padding: 10px 0 0 42px;font-size: 13px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.util-pop-favor .info-b .bookmark-list.list li > a:hover .corver{ opacity:1; border:2px solid #A8D2F5;}

.util-pop-favor .info-t .view-type { position: absolute; right:4px; top: 57px;}
.util-pop-favor .info-t .view-type li{ float:left; margin-left: 3px;}
.util-pop-favor .info-t .view-type li a{ display: inline-block; width: 20px; height: 20px; background: red; overflow: hidden; text-indent: -5000px; font-size: 0;}
.util-pop-favor .info-t .view-type li a.btn-bookType.tile{ background: url(../image/common/icon_typeTile.png) no-repeat 0 0;}
.util-pop-favor .info-t .view-type li a.btn-bookType.list{background: url(../image/common/icon_typeList.png) no-repeat 0 0;}
.util-pop-favor .info-t .view-type li a.btn-bookType:hover, .util-pop-favor .info-t .view-type li a.btn-bookType.on{ background-position: 0 -20px;}

.btn-bookmark[id^=IPR10] .icon{ background:url(../image/common/icon_ipr10.png) no-repeat 50% 50% !important;}
.btn-bookmark[id^=IPR20] .icon{ background:url(../image/common/icon_ipr20.png) no-repeat 50% 50% !important;}
.btn-bookmark[id^=IPR30] .icon{ background:url(../image/common/icon_ipr30.png) no-repeat 50% 50% !important;}
.btn-bookmark[id^=IPR40] .icon{ background:url(../image/common/icon_ipr40.png) no-repeat 50% 50% !important;}
.btn-bookmark[id^=IPR50] .icon{ background:url(../image/common/icon_ipr50.png) no-repeat 50% 50% !important;}
.btn-bookmark[id^=IPR60] .icon{ background:url(../image/common/icon_ipr60.png) no-repeat 50% 50% !important;}
.btn-bookmark[id^=USR] .icon{ background:url(../image/common/icon_usr.png) no-repeat 50% 50% !important;}

.util-pop-favor .info-b .bookmark-list.list li .btn-bookmark[id^=IPR10] .icon{ background:url(../image/common/icon_ipr10_s.png) no-repeat 50% 50% !important;}
.util-pop-favor .info-b .bookmark-list.list li .btn-bookmark[id^=IPR20] .icon{ background:url(../image/common/icon_ipr20_s.png) no-repeat 50% 50% !important; left:12px;}
.util-pop-favor .info-b .bookmark-list.list li .btn-bookmark[id^=IPR30] .icon{ background:url(../image/common/icon_ipr30_s.png) no-repeat 50% 50% !important;}
.util-pop-favor .info-b .bookmark-list.list li .btn-bookmark[id^=IPR40] .icon{ background:url(../image/common/icon_ipr40_s.png) no-repeat 50% 50% !important; left:12px;}
.util-pop-favor .info-b .bookmark-list.list li .btn-bookmark[id^=IPR50] .icon{ background:url(../image/common/icon_ipr50_s.png) no-repeat 50% 50% !important; left:12px;}
.util-pop-favor .info-b .bookmark-list.list li .btn-bookmark[id^=IPR60] .icon{ background:url(../image/common/icon_ipr60_s.png) no-repeat 50% 50% !important; left:12px;}
.util-pop-favor .info-b .bookmark-list.list li .btn-bookmark[id^=USR] .icon{ background:url(../image/common/icon_usr_s.png) no-repeat 50% 50% !important; left:12px;}

/* Contents */
body.main .swat-content{ height: 100%; background: #f8f8f8; }
.content-wrap{ height: 100%; }


/* Footer */
body .swat-footer{ height:29px; background: #f6f6f6; border-top:1px solid #dddddd; overflow: visible !important;}
.footer{ height: 29px; position: relative; color: #aaaaaa; }
/*.footer .fault-info{ font-size: 12px; position: absolute; left:15px; top: 7px; background: url(../image/common/icon_fault.png) no-repeat 0px 50%; padding-left: 20px;}*/
.footer .version-info{ font-size: 10px; padding: 9px 0 0 12px; letter-spacing: 0.4px;  }
.footer .copyright{ font-size: 10px; position: absolute; right:15px; top:9px;}




