* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	background: #e3dede;
}

a {
	text-decoration: none;
	color: inherit;
}

#wrap {
	box-sizing: border-box;
	min-width: 320px;
	max-width: 600px;
	margin: 0 auto;
	overflow: visibe;
	text-align: center;
}

#wrap h2 {
	font-size: 2em;
	padding: 30px;
	font-family: 'Droid Sans', Arial, sans-serif;
	color: #000;
	text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0;
}

#wrap .login-open {
	background: #0AC986;
	dispaly: inline-block;
	width: 15%;
	font-size: 10px;
	font-weight: bold;
	height: 30px;
	color: #fff;
	text-decoration: none;
	border: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	float: right;
}

#wrap #fullscreen {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	padding: 0;
	margin: 0;
	background: #e3dede;
}
#wrap #fullscreen i {
	position: absolute;
	top: 5px;
	right: 5px;
}

#wrap #fullscreen a .login-close {
	color: #ed1c24;
}

#wrap #fullscreen .login-form {
	margin: 0 auto;
	margin-top: 40px;
	min-height: 300px;
	max-width: 600px;
	min-width: 320px;
}
#wrap #fullscreen .login-form h1 {
	font-family: 'Droid Sans', Arial, sans-serif;
	color: #c0c0c0;
	text-align: center;
	font-size: 50px;
}

#wrap #fullscreen .form-group-name {
	position: relative;
	margin: 5px auto;
	margin-bottom: 1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	width: 80%;
	-moz-border-radius: 10px 10px / 10px 10px;
	-webkit-border-radius: 10px 10px;
	border-radius: 10px 10px / 10px 10px;
	font-size: 0.685em;
	color: #444;
	text-align: left;
}

#wrap #fullscreen .form-group {
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	width: 80%;
	-moz-border-radius: 10px 10px / 10px 10px;
	-webkit-border-radius: 10px 10px;
	border-radius: 10px 10px / 10px 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
	font-size: 0.875em;
	color: #444;
}

#wrap #fullscreen .form-group-btn {
	position: relative;
	margin: 5px auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	width: 80%;
	margin-bottom: 2px;
	-moz-border-radius: 10px 10px / 10px 10px;
	-webkit-border-radius: 10px 10px;
	border-radius: 10px 10px / 10px 10px;
	font-size: 0.875em;
	color: #444;
}

#wrap #fullscreen .form-control {
	width: 100%;
	height: 35px;
	border: none;
	background: #fff;
	color: #666;
	border: 2px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#wrap #fullscreen .form-control:focus, #wrap #fullscreen .form-control:focus + .fa {
	border-color: #10CE88;
	color: #10CE88;
}

#wrap #fullscreen .form-group .fa {
	position: absolute;
	right: 15px;
	top: 11px;
	color: #999;
}

#wrap #fullscreen .id-status.wrong-entry {
	-moz-animation: wrong-log 0.3s;
	-webkit-animation: wrong-log 0.3s;
	animation: wrong-log 0.3s;
}

#wrap #fullscreen .id-status.wrong-entry .form-control, #wrap #fullscreen .wrong-entry .form-control + .fa {
	border-color: #ed1c24;
	color: #ed1c24;
}

#wrap #fullscreen .pwd-status.wrong-entry {
	-moz-animation: wrong-log 0.3s;
	-webkit-animation: wrong-log 0.3s;
	animation: wrong-log 0.3s;
}

#wrap #fullscreen .pwd-status.wrong-entry .form-control, #wrap #fullscreen .wrong-entry .form-control + .fa {
	border-color: #ed1c24;
	color: #ed1c24;
}

#wrap #fullscreen .tn-status.wrong-entry {
	-moz-animation: wrong-log 0.3s;
	-webkit-animation: wrong-log 0.3s;
	animation: wrong-log 0.3s;
}

#wrap #fullscreen .tn-status.wrong-entry .form-control, #wrap #fullscreen .wrong-entry .form-control + .fa {
	border-color: #ed1c24;
	color: #ed1c24;
}

#wrap #fullscreen .dn-status.wrong-entry {
	-moz-animation: wrong-log 0.3s;
	-webkit-animation: wrong-log 0.3s;
	animation: wrong-log 0.3s;
}

#wrap #fullscreen .dn-status.wrong-entry .form-control, #wrap #fullscreen .wrong-entry .form-control + .fa {
	border-color: #ed1c24;
	color: #ed1c24;
}


#wrap #fullscreen .save {
	color: #000;
	font-size: 0.675em;
	float: left;
	height: 20px;
    width: 100%;
    text-align: left;
}

#wrap #fullscreen .saveInfo {
	margin-top: 0;
    width: 14px;
    height: 14px;
    position: relative;
	float: left;
}

#wrap #fullscreen .log-btn {
	background: #0AC986;
	dispaly: inline-block;
	width: 100%;
	font-size: 30px;
	font-weight: bold;
	height: 50px;
	color: #fff;
	text-decoration: none;
	border: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#wrap #fullscreen .error-alert {
	display: none;
	font-size: 1em;
	color: #f00;
	text-align: center;
}

input::placeholder {
  color: #C6C6C6;
  font-style: italic;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #C6C6C6;
}

input::-ms-input-placeholder { /* Microsoft Edge */
 color: #C6C6C6;
}

/*alert css*/
.alert{
    display: none;
}

.alert-top{
    position: fixed;
    top: 5px; 
    left:2%;
    width: 96%;
	z-index: 1000;
}


@-moz-keyframes wrong-log {
	0%, 100% {
		left: 0px;
	}
	20% , 60% {
		left: 15px;
	}
	40% , 80% {
		left: -15px;
	}
}
@-webkit-keyframes wrong-log {
	0%, 100% {
		left: 0px;
	}
	20% , 60% {
		left: 15px;
	}
	40% , 80% {
		left: -15px;
	}
}
@keyframes wrong-log {
	0%, 100% {
		left: 0px;
	}
	20% , 60% {
		left: 15px;
	}
	40% , 80% {
		left: -15px;
	}
}

/*===========================================================================*/

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 320px;
	height: 380px;
	border-radius: 3px;
	background: #e3dede;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper #menu{
	width: 320px;
	height: 150px;
	border-radius: 3px;
	box-sizing: border-box;
	margin: 0px 5px 0px 5px;
}

.wrapper #menu nav {
	width: 20%;
	float: left;
	background: #a3a1a1;
}
.wrapper #menu nav ul {
	list-style: none;
	margin-bottom: 0;
}
.wrapper #menu nav ul li {
	display: block;
	height: 50px;
	text-align: center;
}
.wrapper #menu nav ul li a {
	display: block;
	color: #5e5e5f;
	width: 100%;
	height: 100%;
	line-height: 0px;
	font-weight: 600;
	padding: 25px 8px 25px 3px;
	border-left: 5px solid #a3a1a1;
	transition: background .3s, color .3s;
	text-decoration:none;
}
.wrapper #menu nav ul li a i {
	color: #a3a1a1;
	transition: color .3s;
}
.wrapper #menu nav ul li a:hover {
	color: #000;
	transition: color .3s;
	text-decoration:none;
}
.wrapper #menu nav ul .selected a {
	background: #a3daff; 
	color: #4b0082;
	border-left-color: #4b0082;
	padding: 25px 8px;
	transition: background .3s, color .3s, border-left-color .3s;
	text-decoration:none;
}
.wrapper #menu nav ul .selected a i {
	color: #4b0082; 
	transition: color .3s;
}
.wrapper section {
	width: 78%;
	float: left;
	text-align: justify;
	color: #333;
	background: #e3dede;
}
.wrapper section article {
	display: none;
}
.wrapper section article.selected {
	display: block;
	animation: fade-in .3s;
	width: 245px;
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
	background: #a3daff; 
}

/*
.wrapper section article.selected::-webkit-scrollbar{width: 10px;}
.wrapper section article.selected::-webkit-scrollbar-track {background-color:#f0f0f0;}
.wrapper section article.selected::-webkit-scrollbar-thumb {background-color:#da70d6;border-radius: 10px;}
.wrapper section article.selected::-webkit-scrollbar-thumb:hover {background: #007fc1;}
.wrapper section article.selected::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {width:10px;height:16px;background:#da70d6;} 
*/

@media only screen and (min-width: 40.063em) {
	.wrapper {
		width: 60em;
		height: 45em;
		top: 60%;
	}
	.wrapper:before, .wrapper:after {
		content: '';
		display: table;
	}
	.wrapper:after {
		clear: both;
	}
	.wrapper #menu nav {
		width: 100%;
		float: none;
		height: 100px;
	}
	.wrapper #menu nav ul {
		width: 100%;
	}
	.wrapper #menu nav ul:before, .wrapper nav ul:after {
		content: '';
		display: table;
	}
	.wrapper #menu nav ul:after {
		clear: both;
	}
	.wrapper #menu nav ul li {
		display: block;
		float: left;
		width: 33.33%;
	}
	.wrapper #menu nav ul li a {
		border-left: 0;
		border-top: 2px solid #f0f0f0;
		line-height: 80px;
		padding: 13px 10px;
	}
	.wrapper #menu nav ul .selected a {
		border-top-color: #007fc1;
		transition: border-top-color .3s;
	}
	.wrapper section {
		width: 100%;
		padding: 2em;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*===========================================================================*/

.info-table {
	font-size: 16px;
	width: 100%;
	border-collapse: collapse;
}
.info-table th,
.info-table td {
	padding: 2px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
.info-table th:first-child,
.info-table td:first-child {
	border-left: 0 none;
}
.info-table th {
	text-align: center;
	font-weight: normal;
	background: #eee;
}
.info-table td {
	text-align: right;
}
.info-table .label {
	display: none;
}
.info-table .lower {
	color: #0464b3;
}
.info-table .upper {
	color: #d92c12;
}
@media (max-width: 768px) {
	.info-table colgroup {
		display: none;
	}
	.info-table thead,
	.info-table thead th {
		display: none;
	}
	.info-table tr {
		display: block;
		box-sizing: border-box;
		width: 100%;
		padding: 3px 5px 0;
		clear: both;
	}
	.info-table th,
	.info-table td {
		display: block;
		float: left;
		box-sizing: border-box;
		border: 0;
	}
	.info-table th {
		width: 100%;
		background: none;
		margin-bottom: 4px;
	}
	.info-table td {
		margin-bottom: 5px;
		padding: 0 1px;
		width: 25%;
		text-align: center;
	}
	.info-table td:nth-child(2),
	.info-table td:nth-child(3),
	.info-table td:nth-child(4)  {
		width: 33.33333%;
	}
	.info-table td:nth-child(5),
	.info-table td:nth-child(6),
	.info-table td:nth-child(7)  {
		width: 50%;
	}
	.info-table td:nth-child(7),
	.info-table td:nth-child(8)  {
		width: 50%;
	}
	.info-table .label {
		font-size: 10px;
		display: block;
		padding: 5px;
		font-weight: normal;
		color: #fff;
		background: #3f4040;
	}
	.info-table .data {
		font-size: 16px;
		display: block;
		padding: 5px;
		background: #fff1b9;
		font-weight: 600;
	}
	#customerInfoModalBody .data{
		float: right;
	}
}
/*===========================================================================*/

.btn-close {outline: none;}
.btn-close:focus {outline: none;}
.btn-toggle {
	float: right;
	margin: 0 4rem;
	padding: 0;
	position: relative;
	border: none;
	height: 1.5rem;
	width: 3rem;
	border-radius: 1.5rem;
	color: #6b7381;
	background: #bdc1c8;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
	outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
	line-height: 1.5rem;
	width: 4rem;
	text-align: center;
	font-weight: 600;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: absolute;
	bottom: 0;
	transition: opacity 0.25s;
}
.btn-toggle:before {
	content: 'Off';
	left: -4rem;
}
.btn-toggle:after {
	content: 'On';
	right: -4rem;
	opacity: 0.5;
}
.btn-toggle > .handle {
	position: absolute;
	top: 0.1875rem;
	left: 0.1875rem;
	width: 1.125rem;
	height: 1.125rem;
	border-radius: 1.125rem;
	background: #fff;
	transition: left 0.25s;
}
.btn-toggle.active {
	transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
	left: 1.6875rem;
	transition: left 0.25s;
}
.btn-toggle.active:before {
	opacity: 0.5;
}
.btn-toggle.active:after {
	opacity: 1;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
	line-height: -0.5rem;
	color: #fff;
	letter-spacing: 0.75px;
	left: 0.4125rem;
	width: 2.325rem;
}
.btn-toggle.btn-sm:before {
	text-align: right;
}
.btn-toggle.btn-sm:after {
	text-align: left;
	opacity: 0;
}
.btn-toggle.btn-sm.active:before {
	opacity: 0;
}
.btn-toggle.btn-sm.active:after {
	opacity: 1;
}
.btn-toggle.btn-sm {
	margin: 0 0.5rem;
	padding: 0;
	position: relative;
	border: none;
	height: 1.5rem;
	width: 5rem;
	border-radius: 1.5rem;
}
.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
	outline: none;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
	line-height: 1.5rem;
	width: 0.5rem;
	text-align: center;
	font-weight: 600;
	font-size: 0.55rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: absolute;
	bottom: 0;
	transition: opacity 0.25s;
}
.btn-toggle.btn-sm:before {
	content: 'Logout';
	left: -0.5rem;
}
.btn-toggle.btn-sm:after {
	content: 'Login';
	right: -0.5rem;
	opacity: 0.5;
}
.btn-toggle.btn-sm > .handle {
	position: absolute;
	top: 0.1875rem;
	left: 0.1875rem;
	width: 1.125rem;
	height: 1.125rem;
	border-radius: 1.125rem;
	background: #fff;
	transition: left 0.25s;
}
.btn-toggle.btn-sm.active {
	transition: background-color 0.25s;
}
.btn-toggle.btn-sm.active > .handle {
	left: 3.6875rem;
	transition: left 0.25s;
}
.btn-toggle.btn-sm.active:before {
	opacity: 0.5;
}
.btn-toggle.btn-sm.active:after {
	opacity: 1;
}
.btn-toggle.btn-sm.btn-sm:before {
	line-height: -0.5rem;
	color: #fff;
	letter-spacing: 0.75px;
	left: 1.6775rem;
	width: 2.325rem;
}
.btn-toggle.btn-sm.btn-sm:after {
	line-height: -0.5rem;
	color: #fff;
	letter-spacing: 0.75px;
	left: 0.9775rem;
	width: 2.325rem;
}

.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm.btn-sm:after {
	text-align: left;
	opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:before {
	opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:after {
	opacity: 1;
}
.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
	display: none;
}
.btn-toggle.btn-secondary {
	color: #6b7381;
	background: #ed1c24 !important;
}
.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
	color: #6b7381;
}
.btn-toggle.btn-secondary.active {
	background-color: #0AC986 !important;
}

/*================================================*/
.modal-btn{
	padding: 6px 50px
}

#customerInfoModalBody .data{
	float: right;
}

#blackModal-content{
	background-color: black;
}
